@{
    ViewBag.Title = "Forbidden";
}

<div class="container d-flex flex-column align-items-center justify-content-center vh-100 bg-light">
    <div class="card shadow-lg p-4 mt-3" style="max-width: 400px; width: 100%; border-radius: 1rem;">
        <h3 class="text-center mb-4 text-danger">Forbidden!</h3>
        <p class="text-center text-secondary">You do not have permission to access this page.</p>
    </div>
</div>